<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Delete Review | <%= review.course.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <h1>CourseReviews</h1>
        <p class="lead">Delete Your Review for "<%= review.course.title %>"</p>
        <a href="/courses/<%= review.course._id %>/review" class="btn">Back</a>
      </div>
    </header>

    <div class="container">
      <p>Are you sure you want to delete this review?</p>
      <form action="/reviews/<%= review._id %>/delete" method="POST">
        <button type="submit" class="btn delete-button">Yes, Delete</button>
      </form>
    </div>
  </body>
</html>
