<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Application</title>
</head>
<body>

    <nav>
    <% if (user) { %>
      <h1>Welcome to the App! <%= user.username %></h1>
      <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
      <h1>Welcome to the app, guest.</h1>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>
    <% } %>
      <a href="/vip-lounge">Get into the VIP users only lounge!</a>
  </nav>
    
</body>
</html>